<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GGSH - Invoice</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <!--<link href="css/sb-admin-2.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/css/speed-ui.css">

</head>

<body id="page-top">


    <!-- Page Wrapper -->
    <div id="wrapper">                                                                                                                                                                                                                                                                                                         
        <!-- <iframe src="https://app.powerbi.com/view?r=eyJrIjoiYmUyYmY1YWMtN2NmNi00NGI2LWExYjktM2IzNzNiMjg1YjE0IiwidCI6IjI1OTM5ODc0LTZjMTUtNGI5NC04YWE5LTVhNjhiY2FjYzlmNSJ9" widt="1000px" height="500px"></iframe> -->

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary-speed sidebar sidebar-dark accordion" id="accordionSidebar" style="min-height:100vh;position:fixed;top:0;left:0;z-index:100;">

            <!-- Sidebar - Brand -->
            

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/index.html">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <div>Dashboard</div></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                    aria-controls="collapseTwo">
                    <!-- <i class="fas fa-fw fa-cog"></i> -->
                    <span style="font-size:16px;">Leads</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/contracts.html">Contracts</a>
                        <a class="collapse-item" href="/projects.html">Projects</a>
                    </div>
                </div>
            </li>

             <!-- Nav Item - Commodities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="true" aria-controls="collapseThree">
                    <!-- <i class="fas fa-fw fa-folder"></i> -->
                    <span style="font-size:16px;">Dashboard</span>
                </a>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/dashboard/managers.html">Manager Dashboard</a>
                        <a class="collapse-item" href="#">Employee Dashboard</a>
                        <a class="collapse-item" href="/dashboard/accounts.html">Accounts Dashboard</a>
                        <a class="collapse-item" href="#">Clients Dashboard</a>
                    </div>
                </div>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <!-- <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div> -->

            <!-- Sidebar Message -->
            <!-- <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
                <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
                <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
            </div> -->

        </ul>
        <!-- End of Sidebar -->
        <div class="container-fluid" style="padding:10px 20px 0px 260px;">
            <h2 class="d-flex justify-content-between">Invoice</h2>
            <br>

            <div class="card p-5 shadow">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="text-dark font-weight-bold">GGSH & Co.LLP</h4>
                        <p style="font-family:TimesNewRoman;line-height:1.7;font-size:16px;">
                            No 9 - 6, III Floor, Chakrapani Street, West <br>
                            Mambalam,Chennai, Tamilnadu 600033 IN <br>
                            accounts@ggsh.in <br>
                            www.ggsh.in <br>
                            GSTIN: 33AASFG2458A1ZL
                        </p>
                    </div>

                    <img src="/img/ca.png" alt="calogo" style="width:30%;height:40%;">
                </div>

                <h1>Tax Invoice</h1><br>

                <div class="d-flex justify-content-between align-items-center">
                    <div style="width:50%;">
                        <h4 class="text-dark font-weight-bold">BILL TO</h4>
                        <p style="font-family:TimesNewRoman;line-height:1.7;font-size:16px;">
                            Epix Entertainment LLP<br>
                            Tamil Nadu <br>
                            State Code: 33 <br>
                            GSTIN: 33AAJFE9355K1Z1
                        </p>
                        <h4 class="text-dark font-weight-bold">PLACE OF SUPPLY</h4>
                        <p>33 - Tamil Nadu</p>
                    </div>

                    <table>
                        
                        <tr> <th class="text-right pr-2">INVOICE NO.</th><td>2022/11/087</td> </tr>
                        <tr> <th class="text-right pr-2">DATE</th><td>25/11/2022</td> </tr>
                        <tr> <th class="text-right pr-2">DUE DATE</th><td>DUE DATE</td> </tr>
                        <tr> <th class="text-right pr-2">TERMS</th><td>Net7</td> </tr>
                        
                    </table>
                </div>
                <div class="table-responsive">
                <table class="table" id="temp">
                    <thead style="color:#6eb954;background:rgba(232,242,214,1);">
                        <tr>
                            <th>NO</th>
                            <th>HSN/SAC</th>
                            <th>ACTIVITY</th>
                            <th>UNIT</th>
                            <th>QTY</th>
                            <th>RATE</th>
                            <th>TAX</th>
                            <th>AMOUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>998224</td>
                            <td id="prj"></td>
                            <td> </td>
                            <td>1</td>
                            <td id="rate"></td>
                            <td>18% GST</td>
                            <td class="text-right pr-5" id="amnt"></td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <hr style="border:1px dotted;width:90%;margin:auto;">

                <div class="d-flex justify-content-between align-items-center">
                    <div style="width:50%;">
                        <p>
                            Cheque can be given in the name of 'G G S H & CO.LLP'<br><br>
                            Alternatively online payment can be made to the bank account as below: <br><br>
                            Bank: ICICI <br>
                            Account No: 602305029458<br>
                            Account type: Current<br>
                            IFSC: ICIC0006023<br>
                            Branch: West Mambalam<br>
                            PAN: AASFG2458A
                        </p>
                    </div>
                    <div class="pr-5">
                    <table class="table table-borderless">
                        <tr><th>SUBTOTAL</th><td class="text-right" id="subT"></td></tr>
                        <tr><th>CGST @ 9%</th><td class="text-right" id="cgst"></td></tr>
                        <tr><th>SGST @ 9%</th><td class="text-right" id="sgst"></td></tr>
                        <tr><th>Total</th><td class="text-right" id="total"></td></tr>
                        <tr><th>BALANCE DUE</th><td class="text-right font-weight-bold"><h3 class="font-weight-bold" id="inr"></h3></td></tr>
                    </table>
                    </div>
                </div>
                <br>
                <p class="font-weight-bold text-center">This is a System generated authorized Invoice and hence it doesnt require a signature</p>
            </div><!-- card shadow end -->

            <div class=" d-flex justify-content-center"><button type="button" class="btn btn-primary mb-5" onclick="sendMail()">Send to Client</button></div>
        </div><!-- container fluid end -->
    </div><!-- content wrapper end -->
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    

    <!-- Jquery cdn link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <!-- Page level custom scripts -->

    <script src="/js/demo/template.js"></script>
    
    

</body>

</html>